version: "3.0"
services:
  memos:
    image: neosmemo/memos:latest
    container_name: memos
    restart: unless-stopped
    volumes:
      - ~/.memos/:/var/opt/memos
    ports:
      - 5230:5230